<section>
  <div class="mobile">
    <div class="description">
      <h2>Reliable, efficient delivery</h2>
      <h1>Powered by Technology</h1>
      <p>Our Artificial Intelligence powered tools <br>use millions of project data points to <br>ensure that your
        project is successful</p>
    </div>
    <div class="cards">
      <div class="supervisor">
        <h1>Supervisor</h1>
        <p>Monitors activity to identify project <br>readblocks</p>
        <img src="/assets/images/icon-supervisor.png/" height="50px" width="50px">
      </div>
      <div class="teamBuilder">
        <h1>Team Builder</h1>
        <p>Scans our talent network to create the <br> optimal team for your project</p>
        <img src="/assets/images/icon-team-builder.png/" height="50px" width="50px">
      </div>
      <div class="karma">
        <h1>Karma</h1>
        <p>Regularly evaluates our talent to <br>ensure quality</p>
        <img src="/assets/images/icon-karma.png/" height="50px" width="50px">
      </div>
      <div class="calculator">
        <h1>Calculator</h1>
        <p>Uses data from past projects to <br>provide better delivery estimates</p>
        <img src="/assets/images/icon-calculator.png/" height="50px" width="50px">
      </div>
    </div>
  </div>
  <div class="desktop">
    <div class="description">
      <h2>Reliable, efficient delivery</h2>
      <h1>Powered by Technology</h1>
      <p>Our Artificial Intelligence powered tools use millions of project data <br>points to ensure that your project
        is successful</p>
    </div>
    <div class="cards">
      <div>
        <div class="supervisor">
          <h1>Supervisor</h1>
          <p>Monitors activity to identify project <br>readblocks</p>
          <img src="/assets/images/icon-supervisor.png/" height="50px" width="50px">
        </div>
      </div>
      <div>
        <div class="teamBuilder">
          <h1>Team Builder</h1>
          <p>Scans our talent network to create the <br> optimal team for your project</p>
          <img src="/assets/images/icon-team-builder.png/" height="50px" width="50px">
        </div>
        <div class="karma">
          <h1>Karma</h1>
          <p>Regularly evaluates our talent to ensure <br>quality</p>
          <img src="/assets/images/icon-karma.png/" height="50px" width="50px">
        </div>
      </div>
      <div>
        <div class="calculator">
          <h1>Calculator</h1>
          <p>Uses data from past projects to provide <br>better delivery estimates</p>
          <img src="/assets/images/icon-calculator.png/" height="50px" width="50px">
        </div>
      </div>
    </div>
  </div>
</section>
